<html>
    <body text=#041574 bgcolor=#C3C9EA>

        <center>

        <h1> Game </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> H-off-avg:  <input type="text", name='a', placeholder="enter number"> <br><br>
            H-off-ops   :  <input type="text", name='b', placeholder="enter number"> <br><br>
            H-pit_whip  :  <input type="text", name='c', placeholder="enter number"> <br><br>
            H-pit_k/9   : <input type="text", name='d', placeholder="enter number"> <br><br>

            V-off_avg   :  <input type="text", name='e', placeholder="enter number"> <br><br>
            V-off_ops   :  <input type="text", name='f', placeholder="enter number"> <br><br>
            V-pit_whip  :  <input type="text", name='g', placeholder="enter number"> <br><br>
            V-pit_k/9   :  <input type="text", name='h', placeholder="enter number"> <br><br>

            ballpark_id :  <input type="text", name='i', placeholder="enter ballpark id"> <br><br><br><br><br></br>
            <input type="submit" , value='predict!' >
        </form>

  

        </center>

    </body>
</html>